.services {
    background-color: #FBD4BE;
}

.services .item{
    padding: 30px;
    cursor: pointer;
    transition: var(--transition);
    position: relative;
    background-color: #FEF2EC;
    border: 1px solid var(--clr-brown);
    border-radius: 15px;
}


.services .item:hover .item-text{
    color: var(--clr-white);
}

.item-title {
    color: var(--clr-brown);
}
.services .item-icon{
    font-size: 45px;
    ;
}
.services .item-list{
    row-gap: 30px;
}
.services .item-link{
    margin-top: 18px;
    display: inline-block;
    transition: var(--transition);
    color: black;
}
.services .item:hover .item-link{
    color: var(--clr-white);
}

@media screen and (min-width: 768px){
    .services .item-list{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
}

@media screen and (min-width: 1200px){
    .services .item-list{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }
}
